@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/imagens/fundo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #969292;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    text-align: center;
}

nav {
    position: relative;
}
#hamburger {
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

#hamburger div,
#hamburger:before,
#hamburger:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease;
}

#hamburger div {
    top: 11px;
}

#hamburger:before {
    top: 0;
}

#hamburger:after {
    bottom: 0;
}

#hamburger.active div {
    background: transparent;
}

#hamburger.active:before {
    transform: translateY(11px) rotate(45deg);
}

#hamburger.active:after {
    transform: translateY(-11px) rotate(-45deg);
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 40px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 5px;
}

nav ul li a:hover, nav ul li a:focus {
    color: #c0c0c0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(10, 10, 10, 0.9);
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        text-align: left;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        padding: 10px 20px;
    }

    #hamburger {
        display: block;
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section {
    margin: 30px 50px;
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(145deg, #1e1e1e, #333);
    color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: opacity 0.6s ease, transform 0.6s ease-out;
}

section.hidden {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
}

#slideshow {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

#slideshow img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #f0f0f0;
    padding: 15px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
#loginButton {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: bold;
}

#loginButton:hover {
    background-color: #161313;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

#loginButton:active {
    transform: translateY(1px);
        background-color: #161313;
}


nav ul li button {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    line-height: normal;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #000000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 450px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal input[type=text],
.modal input[type=password] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 8px 0;
}

.modal button {
    background-color: #0b0c0e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.modal button:hover {
    background-color: #4d4d4d;
}
